@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-track:hover {
    background: #e9d6c5b2;
    transition: .5s ease-in-out;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF7A00;
    border-radius: 20px;
  }
}










